@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary-color: #e41c6f;
  --white-color: #fff;
  --gray-color: #333;
  --lightgray-color: #555;
  --lightengray-color: #777;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 40px;
  color: var(--gray-color);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 120px;
  border-bottom: 2.4px solid var(--gray-color);
  text-shadow: 1.6px 1.6px 4px var(--lightgray-color);
}
/* End of Reset and Common Styles */

/* Section 1 */
.section-1 {
  width: 100%;
  height: 70vh;
  background: url(images/bg.jpg) no-repeat;

  background-size: cover;
  flex-direction: column;
}

.section-1-heading {
  font-size: 48px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0 24px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 8px;
  border-bottom: 2.4px solid var(--white-color);
  text-shadow: 1.6px 1.6px 8px var(--lightgray-color);
  transform: skew(-10deg);
}

.person-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4.2px dotted var(--primary-color);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px;
}

.person-name {
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--primary-color);
  margin: 40px 0;
  padding: 4px 24px;
  letter-spacing: 2.4px;
  transform: skew(-10deg);
}

.section-1-btn {
  font-size: 13.6px;
  font-weight: 700;
  color: var(--gray-color);
  background-color: var(--white-color);
  border: 2.4px solid var(--gray-color);
  padding: 4px 8px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
/* End of Section 1 */

/* Navbar */
.navbar {
  width: 100%;
  height: 32px;
  background-color: var(--primary-color);
  box-shadow: 1.6px 1.6px 4px var(--lightgray-color);
  position: absolute;
  z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
  font-size: 16.6px;
  font-weight: 600;
  color: var(--gray-color);
  margin: 0 24px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.change.navbar-link {
  color: var(--white-color);
}

.navbar-link:hover {
  color: var(--white-color);
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 1.6px;
  background-color: var(--white-color);
  position: absolute;
  right: -15%;
  bottom: -2.4px;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
  width: 130%;
}
/* End of Navbar */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100%;
  padding: 120px 0 80px 0;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bars-wrapper {
  margin-bottom: 80px;
}

.progress-bar {
  width: 480px;
  height: 30px;

  background-color: #ccc;
  margin: 12px 0;
  cursor: pointer;

  border-radius: 2.4px;
  box-shadow: 1.6px 1.6px 8px var(--lightgray-color);
  position: relative;
}

.progress-text {
  position: absolute;
  left: 8px;
  top: 5px;
  font-size: 12px;
  color: var(--white-color);
}

.progress-text span {
  margin: 0 4px;
  font-size: 14.4px;
  font-weight: 700;
}

.progress-percent {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 2.4px;
  transition: width 0.5s 0.5s ease-in-out;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 80px;
  color: #888;
  margin-bottom: 16px;
  text-shadow: 0.8px 0.8px 4px var(--lightgray-color);
}

.service h2 {
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--lightengray-color);
  width: 200px;
  letter-spacing: 2.4px;
  transform: skew(-10deg);
  box-shadow: 1.6px 1.6px 4px var(--lightgray-color);
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  background-color: var(--white-color);
  box-shadow: 2.4px 2.4px 4px var(--lightengray-color);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 8px 8px 8px var(--lightengray-color);
}

.project-text {
  text-align: center;
  letter-spacing: 0.8px;
  position: absolute;
  top: -80px;
  z-index: 10;
  transition: top 0.3s;
}

.project:hover .project-text {
  top: 40px;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-color);
  text-transform: capitalize;
}

.project-technologies {
  font-size: 14.4px;
  color: var(--primary-color);
}

.project-img {
  width: 340px;
  height: 220px;
  object-fit: cover;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-color);
  letter-spacing: 0.8px;
  border: 2.4px solid var(--primary-color);
  padding: 0 8px;
  background-color: var(--white-color);
  position: absolute;
  bottom: -40px;
  transition: bottom 0.3s;
}

.project:hover .project-link {
  bottom: 25px;
  transition: bottom 0.3s 0.3s;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  height: 70vh;
  background-color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-heading {
  color: var(--white-color);
  box-shadow: none;
  border-color: var(--white-color);
  margin-bottom: 40px;
}

.contact-form {
  width: 400px;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 4px 0;
  background-color: #eef;
  font-size: 12px;
  border: 1.6px solid var(--primary-color);
  color: var(--lightgray-color);
}

.contact-form textarea {
  height: 80px;
  max-height: 120px;
  max-width: 100%;
  resize: none;
}

.contact-form .contact-form-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 8px;
  cursor: pointer;
}
/* End of Section 4 */

/* Section 5 */
.section-5 {
  width: 100%;
  height: 30vh;
  background-color: #222;
  flex-direction: column;
}

.social-media {
  margin-bottom: 40px;
}

.social-media-link {
  margin: 0 16px;
  padding: 4.2px;
  background-color: var(--primary-color);
  border-radius: 4px;
  display: inline-block;
}

.social-media-link i {
  font-size: 24px;
  color: var(--white-color);
}

.copyright {
  color: #aaa;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 300;
  text-align: center;
}
/* End of Section 5 */

/* Responsive */
@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 24px 16px;
  }

  .section-4 {
    height: 80vh;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 32px;
  }

  .progress-bar {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 24px;
  }

  .navbar-link {
    margin: 0 16px;
    font-size: 12px;
  }

  .section-2 {
    padding: 80px;
  }

  .section-2-heading {
    margin-bottom: 80px;
  }

  .progress-bar {
    width: 45rem;
  }

  .project-img {
    width: 100%;
  }

  .contact-form {
    width: 320px;
  }

  .copyright {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .section-1-heading {
    font-size: 20px;
  }

  .navbar-link {
    margin: 0 12px;
  }

  .section-2-heading {
    text-align: center;
  }

  .progress-bar {
    width: 320px;
  }
}
/* End of Responsive */
